ADDONBUILDER=C:\Program Files (x86)\Steam\steamapps\common\Arma 3 Tools\AddonBuilder\AddonBuilder.exe
SOURCE=C:\Arma3Modding\AcreRadioManager
DEST=C:\Arma3Modding\exports\AcreRadioManager.pbo
PRIVATEKEY=C:\Arma3Modding\keys\YourName_AcreRadioManager.biprivatekey
TEMPDIR=C:\Users\YourName\AppData\Local\Temp
PROJECTDIR=C:\Arma3Modding
EXCLUDELIST=C:\Program Files (x86)\Steam\steamapps\common\Arma 3 Tools\FileBank\exclude.lst
EXPORTDIR=C:\Arma3Modding\exports
DEPLOYDIR=C:\Arma3Modding\local mods\@Acre Radio Manager\addons
